### Day3
- Loops
- Functions
- Strings
- Data Structures

#### Loops
- for iterator in iterable
- range()

In [4]:
# read a string from user and find the length of it
# LBR Engineering College #i/p
# o/p:
clg=input("I am from ")
cnt=0 #
for ch in clg:
    #print(ch,end=" ")
    cnt+=1
print('length of string=',cnt)

I am from sagar
length of string= 5

In [2]:
len(clg)

23

In [5]:
LBR Engineering College

SyntaxError: invalid syntax (579416068.py, line 1)

In [6]:
# print 
# i/p:LBR Engineering College
#o/p:L***********************e

In [11]:
n=len(clg)

In [12]:
clg[0]

's'

In [16]:
clg[-1]

'r'

In [27]:
clg=input("I am from ")
n=len(clg)
for ix in range(n):
    if ix==0 or ix==n-1:
        print(clg[ix],end="")
    else:
        print("*",end="")

I am from LBR Engineering College
L*********************e

#### while
- a condition based loop
- user incrementation
- iterator should initialize before starting loop
- it will go for infinite no.of times until you stop
- *syntax*
    - while condition:
        - statements

In [28]:
# print the multiplication table of a number

In [29]:
val=int(input("enter the number:"))
for dig in range(1,11):
    print(val,'x',dig,"=",val*dig)

enter the number:9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [30]:
# using while loop
num=1
while num<=10:
    print(num,end=" ")
    num+=1

1 2 3 4 5 6 7 8 9 10

In [31]:
#  nth multiplication table
n=int(input())
it=1
while it<=10:
    print(n,"x",it,'=',n*it)
    it+=1

8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [32]:
# find the digits in a number
#12345:5
num=input()
cnt=0
for dig in num:
    cnt+=1
print("no.of digits=",cnt)

897653
no.of digits= 6

In [33]:
s=0 # finding the sum of digits in a number
for dig in num:
    s+=int(dig)
print("sum:",s)

sum: 38

In [37]:
# looping in reverse order
stop=25
while stop>=1:
    print(stop,end=" ")
    stop-=2

25 23 21 19 17 15 13 11 9 7 5 3 1

In [38]:
for num in range(50,10,-1):
    print(num,end=" ")

50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11

In [41]:
# printing even numbers present in a range
n=int(input())
if n%2==0:
    for num in range(n,50,2):
        print(num,end=" ")
else:
    for num in range(n,50,2):
        print(num,end=" ")

9
9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [43]:
# using while
n=int(input())
if n%2==0:
    while n<=50:
        print(n,end=" ")
        n+=2
else:
    while n<=50:
        print(n,end=" ")
        n+=2

8
8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [44]:
# print the above values in reverse order

#### Nested Loops
- loop existed in another loop
    - inner loop in outer loop
- example
    - a matrix will consists of m cols in n rows

In [45]:
# 8 9 0
# 5 6 7

In [46]:
for num in range(1,6): # 5 times
    print(num,end=" ")

1 2 3 4 5

In [48]:
for num in range(1,29): # 28 times
    #print(num,end=" ")
    if num%2==0:
        print(num,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28

In [49]:
for num in range(1,6): # 5 times
    for clg in range(1,4): # w r t 4
        # num=1,num=2,num=3,3 # 15
        print(clg,end=' ')
    print()

1 2 3
1 2 3
1 2 3
1 2 3
1 2 3

In [50]:
for row in range(1,6):
    for col in range(1,row+1): # 1,2
        print(col,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [53]:
n=int(input())
for row in range(1,n+1): #12345
    for col in range(1,row+1): #
        if row%2==0: #
            print("*",end=" ")
        else:
            print("#",end=" ")
    print()

5
#
* *
# # #
* * * *
# # # # #

In [61]:
# print the pattern in reverse order
n=int(input())
for num in range(n,0,-1): # 10,9,8,7..1
    for col in range(num,0,-1):
        if col%2==0 and col<n//2:
            print("*",end=" ")
        elif col%2==0 and col>n//2:
            print("#",end=" ")
        else:
            print("@",end=" ")
    print()

10
# @ # @ # @ * @ * @
@ # @ # @ * @ * @
# @ # @ * @ * @
@ # @ * @ * @
# @ * @ * @
@ * @ * @
* @ * @
@ * @
* @
@

##### Functions
- A block of statements to peform a specific task
- def is the keyword that represents the function
- 2types of functions
    1. predefined function
        - were defined when the language is designed
        - no need to define those again
        - simply we can call and use those functions
        - ex:print(),input(),type(),int(),bin(),ord(),len()
    2. user defined
        - defined by the user/programmer
- **syntax**
    - def function_name(args):
        - statements
            - return
    - in the function definition
        - the main purpose writing code/actual code
        - formal values/dummy varibles
        
    - in function call
        - we will use that function
            - parameters are there
            - actual data
- reusability of code
- functions follows the modularity

In [62]:
## we can define the function in 4 ways
def add(x,y): # list of argument and return
    return x+y

add(9,4)

13

In [63]:
def function():
    pass

In [65]:
function()

In [66]:
# we can define the fun without args and return
def product():
    return a*b

a,b=int(input()),int(input())
# global
product()

9
4

36

In [67]:
# function without arguments without return
def length_of_str():
    st=input()
    print(len(st))
    
length_of_str()

for num in range
16

In [69]:
st #local variable

NameError: name 'st' is not defined

In [70]:
a

9

In [71]:
b

4

In [87]:
# function with args and without return
def i_am(name):
    print("I am ",name)
    
i_am('kAVYA')

I am  kAVYA

In [73]:
name

NameError: name 'name' is not defined

In [75]:
# you should follow some rules
# default and non-default args
# *args and **kwargs

In [80]:
def number(*values): # variable length of args
    for ch in values:
        print(ch,end=" ")
        
number(*[1,2,4,5,6,7,10])

1 2 4 5 6 7 10

In [81]:
# default and non-default
def arguments(a=10,b):
    return a+b
arguments(8)

SyntaxError: non-default argument follows default argument (108552572.py, line 2)

In [91]:
# default and non-default
def args(a,b=9):
    return a+b

args(6)

15

In [88]:
# default and non-default
def example(a=8,b=9): #
    return a+b

example(int(input("first:")),int(input('second:')))

In [93]:
example() # empty

17

In [94]:
example(10)

19

In [97]:
# define a function that checks whether 
# given number is prime or not
num=int(input())
factors=0
# 8:1,2,4,8:0
for dig in range(1,num+1):
    if num%dig==0:
        print(dig,end=" ")

8
1 2 4 8

In [99]:
# define a function that checks whether 
# given number is prime or not
num=int(input())
factors=0
# 8:1,2,4,8:0
for dig in range(1,num+1):
    if num%dig==0:
        factors+=1
if factors==2:
    print("prime")
else:
    print("not prime")

15
not prime

In [100]:
# using function
def is_prime(n):
    count=0
    for num in range(1,n+1):
        if n%num==0:
            count+=1
    if count==2:
        return True
    else:return False
    
is_prime(13)

True

In [101]:
# print the prime numbers present in range
for val in range(int(input()),int(input())):
    if is_prime(val):
        print(val,end=" ")

10
150
11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149

In [102]:
def prime_range(lw,up):
    for num in range(lw,up+1):
        if is_prime(num):
            print(num,end=" ")
prime_range(1,100)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [103]:
'k'# what is the perfect number
# sum of the factors of a given number equals to itself
# 6:1,2,3=1+2+3=6
def is_perfect(p):
    sm=0
    for dig in range(1,p//2+1):
        if p%dig==0:
            sm+=dig
    if sm==p:
        return True
    else:return False
    
is_perfect(9)

False

In [104]:
is_perfect(6)

True

In [105]:
28:1,2,4,7,14

SyntaxError: illegal target for annotation (893378323.py, line 1)

#### Strings
- Group/collection of characters
- anything that is enclosed in the quotations called as string
- str() that represents the string data
- can declare an empty str with either '' or ""
- it is immutable
- dir() to check the list of str methods

In [107]:
str(909899) # converted int into str

'909899'

In [108]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [110]:
print() # can be empty

In [117]:
name=input('name:') # dynamic str
print("I am",name)

name:Electrical Department
I am Electrical Department

In [118]:
name

'Electrical Department'

In [119]:
len(name)

21

In [120]:
for ch in name:
    print(ch)

E
l
e
c
t
r
i
c
a
l

D
e
p
a
r
t
m
e
n
t

#### Index
- index is the memory address of the char/data
- 2types
    1. Normal Indexing
        - 2ways of traversing
            1. +ve indexing
                - starts from 0 to +inifinite/len(iterable)-1
                - travers from left to right
            2. -ve indexing
                - travers from right to left
                - starts from -1 and upto -inifinite
    2. Fancy Indexing
        - condition based indexing

In [121]:
name

'Electrical Department'

In [122]:
name[0] # iterable[index]

'E'

In [123]:
name[1]

'l'

In [124]:
name[5] # 6th char

'r'

In [125]:
name[19]

'n'

In [133]:
name[::]

'Electrical Department'

In [134]:
name[:]

'Electrical Department'

In [135]:
name[::-1]

'tnemtrapeD lacirtcelE'

In [136]:
name

'Electrical Department'

In [137]:
name[::2] # alternate chars

'Eetia eatet'

In [131]:
name[::-2] # alternate chars in reverse order

'tetae aiteE'

##### slicing 
- cutting in pieces
- splitting sub part of string using index as a boundary
- name[start:stop:step_count]

In [138]:
name[5:14] # retrieving the chars from 5th to 14th

'rical Dep'

In [139]:
name

'Electrical Department'

In [140]:
name[5:] # 5th to last

'rical Department'

In [141]:
name[:16] # from 0 to 15th

'Electrical Depar'

In [143]:
name[5:12] # index 5th to 11th

'rical D'

In [144]:
name[-1]

't'

In [145]:
name[-2] # last but one char

'n'

In [146]:
-5,-9

(-5, -9)

In [147]:
name[-5:-9] # empty

''

In [148]:
name

'Electrical Department'

In [149]:
name[-9:]

'epartment'

In [150]:
name[4:10]

'trical'

In [151]:
name[-9:-3]

'epartm'

In [156]:
name[-3:-9:-1] # in reverse order

'emtrap'

In [153]:
name

'Electrical Department'

##### string methods
- the functions can only be applied on strings
    - str.replace(old,new)
    - str.count(ch)
    - split()
    - strip()
    - lstrip()
    - rstrip()
    - join()
    - format()
    - center()
    - title()
    - capitalize()
    - casefold()
    - swapcase()
    - lower()
    - upper()
    - islower()
    - isupper()

In [157]:
name

'Electrical Department'

In [158]:
name.lower() # converts the str into lowercase alphabets

'electrical department'

In [159]:
name.upper()

'ELECTRICAL DEPARTMENT'

In [160]:
name.swapcase()

'eLECTRICAL dEPARTMENT'

In [161]:
new='EngINeerING At MylAVaraM'

In [162]:
new.swapcase()

'eNGinEERing aT mYLavARAm'

In [163]:
new.upper()

'ENGINEERING AT MYLAVARAM'

In [168]:
up=new.center(40) # centralize the str with length
up

'        EngINeerING At MylAVaraM        '

In [169]:
len(new)

24

In [170]:
len(up)

40

In [171]:
'@'.join(new) # joins the string with delimeter

'E@n@g@I@N@e@e@r@I@N@G@ @A@t@ @M@y@l@A@V@a@r@a@M'

In [174]:
st='aeiour e v o w e l s'
'p'.join(st)

'apepipopuprp pep pvp pop pwp pep plp ps'

In [175]:
up

'        EngINeerING At MylAVaraM        '

In [180]:
new.capitalize() # capitalizes the first char of str

'Engineering at mylavaram'

In [181]:
new.title() # capitalizes the first char of each word

'Engineering At Mylavaram'

In [182]:
up

'        EngINeerING At MylAVaraM        '

In [184]:
# remove the spaces on both sides
lp=up.lstrip()
lp

'EngINeerING At MylAVaraM        '

In [185]:
up.rstrip()

'        EngINeerING At MylAVaraM'

In [186]:
up.strip() # removes the both side spaces

'EngINeerING At MylAVaraM'

In [187]:
names=input().split() # splits the str at ' '
 # list()
names

I am Ruthu from APSSDC

['I', 'am', 'Ruthu', 'from', 'APSSDC']

In [188]:
np="RUthu.apssdc.located at Guntur . hi hello".split('.')
np

['RUthu', 'apssdc', 'located at Guntur ', ' hi hello']

In [189]:
np

['RUthu', 'apssdc', 'located at Guntur ', ' hi hello']

In [190]:
type(np)

list

In [191]:
names

['I', 'am', 'Ruthu', 'from', 'APSSDC']

In [195]:
 # .format
nm,org,des='Ruthu','APSSDC','TD'
"I am {0} from {1} working as {2}".format(nm,org,des)

'I am Ruthu from APSSDC working as TD'

In [196]:
 # .format
nm,org,des='Ruthu','APSSDC','TD'
"I am {} from {} working as {}".format(nm,org,des)

'I am Ruthu from APSSDC working as TD'

In [199]:
name='Nandini' # f-string
roll_id=123908
f"I am {name} and my id is {roll_id}"

'I am Nandini and my id is 123908'

In [212]:
# str.replace
# str.index()
# starts.endswith()
# startswith()
ch=input("char:")
st=input("string:")
if st.endswith(ch):
    print("yes")

char:l
string:Electrical
yes

In [214]:
st.startswith('E')

True

In [228]:
ch=input("char:")
st=input("string:")
new=input("replacing char:")
if ch in st:
    st=st.replace(ch,new) # str updation
st

char:o
string:engineering
replacing char:b

'engineering'

In [203]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [204]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [206]:
res

'electrical'

In [207]:
st

'electrical'

In [208]:
name

'Nandini'

In [210]:
name.replace('i','new')

'Nandnewnnew'

In [211]:
name

'Nandini'

In [222]:
st

'elehtrihal'

In [223]:
st[0].isalpha()

True

In [224]:
st[3].isdigit()

False

In [225]:
st[5].isnumeric()

False

In [233]:
comb='Ruthu@123#890,lavanya%ramu'
comb[4].isdigit()

False

In [247]:
comb.index('@')

5

In [248]:
comb.index('a')

15

In [232]:
comb[-1].isdigit()

True

In [237]:
# read a str from user and print the special chars
cmb=input()
new=''
for ch in cmb:
    if ch.isdigit() or ch.isalpha() or ch.isspace():
        new+=ch
    else:
        print(ch,end=" ")

Ruthu@123#890,lavanya%ramu
@ # , %

In [235]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [239]:
specials="!@#$%^&*,./()<>?"
for ch in specials:
    if ch in cmb:
        print(ch,end=" ")

@ # % ,

In [241]:
for ix in range(len(cmb)):
    print(ix,cmb[ix],sep="=")

0=R
1=u
2=t
3=h
4=u
5=@
6=1
7=2
8=3
9=#
10=8
11=9
12=0
13=,
14=l
15=a
16=v
17=a
18=n
19=y
20=a
21=%
22=r
23=a
24=m
25=u

In [243]:
# read n space separated integers from user
# and find the sum 
# 90 45 56 89 23 91 45 3 5 60 23
sm=0
mul=input().split()
for num in mul:
    sm+=int(num)
sm

90 45 56 89 23 91 45 3 5 60 23

530

In [245]:
# find the sum of middle digits 
# of n space separated values
# n:
# 890 456 834 109 396 290 
# sm aa o/p
total=int(input())
nums=input().split()[:total]
sm=0
for dig in nums:
    sm+=int(dig[1])
sm

7
890 456 834 109 396 290 834

38

#### Introduction to Data Structures
- way of organising the data in a perticular format
- 4types 
    1. Tuple
    2. List
    3. Set
    4. Dict

##### Tuple
- It is one of the data structures in python
- it is heterogenous data structure
- represented by ()
- tuple(ele)
- it is immutable in nature

In [246]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

#### tuple methods
- count
- index

In [249]:
comb

'Ruthu@123#890,lavanya%ramu'

In [254]:
# tuple
tp=tuple(comb)
print(tp)
t=(12,'hi','new')
t

('R', 'u', 't', 'h', 'u', '@', '1', '2', '3', '#', '8', '9', '0', ',', 'l', 'a', 'v', 'a', 'n', 'y', 'a', '%', 'r', 'a', 'm', 'u')

(12, 'hi', 'new')

In [263]:
tp.count('a')

4

In [268]:
char='a'
count=0
for ch in tp:
    if ch==char:
        count+=1
print(count)

4

##### list
- it is heteroneous data structure
- it is mutable in nature
- list()
- represented by []

In [269]:
nums

['890', '456', '834', '109', '396', '290', '834']

In [272]:
li=[3,4,5,'hi','electrical','python',
   'new','list',90.45]
print(li)

[3, 4, 5, 'hi', 'electrical', 'python', 'new', 'list', 90.45]

In [274]:
marks=[97,89,79,90,67,10,70,59,35]
marks[0]
# marks<80

97

In [275]:
marks[3:]

[90, 67, 10, 70, 59, 35]

In [276]:
marks[-1]

35

In [277]:
marks[::-2]

[35, 70, 67, 79, 97]

In [278]:
for num in marks:
    print(num)

97
89
79
90
67
10
70
59
35

In [279]:
for ix in range(len(marks)):
    print(ix,marks[ix])

0 97
1 89
2 79
3 90
4 67
5 10
6 70
7 59
8 35

In [281]:
new=[] # new list contains the values<80
for num in marks:
    if num<80:
        new.append(num)
new

[79, 67, 10, 70, 59, 35]

### list methods
- li.append()
- pop()
- remove(value)
- pop(index)
- insert(index,data)
- count()
- sort()
- reverse()
- extend()
- copy()
- clear()
- index()

In [286]:
marks.append(345)

In [290]:
marks.insert(4,500)

In [291]:
marks

[97, 89, 79, 90, 500, 100, 67, 10, 70, 59, 35, 345, 345]

In [294]:
marks.remove(35) # data/item

ValueError: list.remove(x): x not in list

In [296]:
marks.remove(345)

In [298]:
marks.remove(marks[3])

marks

In [300]:
marks.pop()

345

In [302]:
marks.pop(4) # 5th element

100

In [303]:
marks

[97, 89, 79, 500, 67, 10, 70, 59]

In [ ]:
marks.extend([3,4,5])
marks

In [305]:
marks.append([1,2,3]) # can add any another ds

In [307]:
marks.pop()

[1, 2, 3]

In [309]:
marks.sort()

In [311]:
marks

[3, 4, 5, 10, 59, 67, 70, 79, 89, 97, 500]

In [312]:
# reverse sort
marks.reverse()

In [313]:
marks

[500, 97, 89, 79, 70, 67, 59, 10, 5, 4, 3]

In [316]:
 # second largest element
marks[1]

97

In [317]:
new=marks.copy()
new

[500, 97, 89, 79, 70, 67, 59, 10, 5, 4, 3]

In [318]:
new.index(67)

5

In [319]:
new.clear()

In [321]:
#new
for ch in input():
    new.append(ch)
print(new)

i am from guntur
['i', ' ', 'a', 'm', ' ', 'f', 'r', 'o', 'm', ' ', 'g', 'u', 'n', 't', 'u', 'r']

In [328]:
# how to remove duplicate elements
marks.extend([4,90,70,89,100])

In [329]:
print(marks)

[500, 97, 79, 67, 59, 10, 5, 3, 4, 90, 70, 89, 100, 4, 90, 70, 89, 100]

In [330]:
for item in marks:
    if marks.count(item)>=2:
        marks.remove(item)
print(marks)

[500, 97, 79, 67, 59, 10, 5, 3, 4, 90, 70, 89, 100]

In [333]:
first=input().split()
unq=[]
for val in first:
    if val not in unq:
        unq.append(val)
print(unq)

90 89 hi hello 67 80 45 234 23 89 hi
['90', '89', 'hi', 'hello', '67', '80', '45', '234', '23']

##### SET
- well defined collection of objects
- represented by {}
- set()
- removes the duplicates data items
- mutable in nature

In [334]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [261]:
vowels[3]

'o'

In [262]:
vowels[-1]

123

In [335]:
A={1,2,3,4,'hi','hello',9,4,5,'hey',5}
A

{1, 2, 3, 4, 5, 9, 'hello', 'hey', 'hi'}

In [337]:
A[0] # NOT POSSIBLE

TypeError: 'set' object is not subscriptable

In [342]:
B={4,5,9,3,4,6,'HI','hi',2,3,'python','data'}
B

{2, 3, 4, 5, 6, 9, 'HI', 'data', 'hi', 'python'}

In [343]:
A.intersection(B) # common elements

{2, 3, 4, 5, 9, 'hi'}

In [344]:
A.union(B) # ALL THE ELEMENTS IN BOTH SETS

{1, 2, 3, 4, 5, 6, 9, 'HI', 'data', 'hello', 'hey', 'hi', 'python'}

In [345]:
A.difference(B) #A-B

{1, 'hello', 'hey'}

In [346]:
A

{1, 2, 3, 4, 5, 9, 'hello', 'hey', 'hi'}

In [347]:
A.symmetric_difference(B) # non-smilar elements

{1, 6, 'HI', 'data', 'hello', 'hey', 'python'}

In [348]:
A.issuperset(B)

False

In [349]:
B.issuperset(A)

False

In [350]:
A.pop() # first element is removed by default

1

In [352]:
A.remove(9)

In [353]:
A

{2, 3, 4, 5, 'hello', 'hey', 'hi'}

In [354]:
A.remove(9)

KeyError: 9

In [356]:
A.difference_update(B)

In [357]:
A

{'hello', 'hey'}

In [359]:
A.intersection_update(B) # {PI}

In [361]:
A.union(B)

{2, 3, 4, 5, 6, 9, 'HI', 'data', 'hi', 'python'}

In [362]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [363]:
B.discard('HI')

In [364]:
B

{2, 3, 4, 5, 6, 9, 'data', 'hi', 'python'}

In [365]:
B.discard(8) # non-existed

In [366]:
B.add('new')

In [367]:
B

{2, 3, 4, 5, 6, 9, 'data', 'hi', 'new', 'python'}